 <!-- '/artists' -->
<% @artists.each do |artist| %>
    <!-- button_to defaults to post, so we give additional argument -->
    <p><%= artist.name %> <%= button_to "Edit #{artist.name}", "/artists/#{artist.id}/edit", method: :get %> </p>
<% end %> 
<%= link_to "New Artist", '/artists/new' %>
